
.my-navbar{
display: flex;
margin-top: px;
margin-bottom: 20p;
align-items: center;
justify-content: center;
position: fixed;
width: 100vw;
height: 75px;
background-color: #ffffff;
padding-top: 5px;
}
.my-navbar:hover{
    cursor: pointer;
}
.my-content{
    display:flex;
    margin-left: 400px;
    width: 30vw;
    padding-top:10px;
}
.my-button{
   margin-left: 30px;
   font-size: 12px;
   height:40px;
   width:100px;
   border-radius:10px;
   border-width: 2px;
}
.my-content>p{
    font-size: 13px;
    font-weight:10px;
}
.my-content>p:hover{
    scale: 1.1;
}
.my-banner{
    background-color: #2f80ed;
    color: white;
    margin-top: 15px;
    font-weight: 200px;
    font-size:13px;
    position: fixed;
    width:100vw;
    margin-top: 75px;
}
.hero-section1{
    width: 100%;
    height: 700px;
    display: flex;
    align-items:center;
    
}
.innerboxes{
    width: 650px;
    height: 330px;
    margin-left: 70px;
    cursor: pointer;
}
.inner-header{
    font-style: italic;
    word-spacing: 3px;
}
.colored-text{
    color: #2f80ed;
}
.inner-para{
    width: 400px;
    margin-top: 14px;
    font-size: 17px;
    font-weight: lighter;
}
.inner-features{
  width: 102%;
  height:60px;
  border-radius: 10px;
  box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.my-features{
  width: 200px;
  height: 50px;
  padding-top: 15px;
  align-items: center;
  padding-left: 12px;
  cursor: pointer;
}
.para-1{
    margin-left: 32px;
    margin-top: -35px;
    font-weight: bold;
    font-style: italic;

}
.para-2{
    margin-top: -20px;
    margin-left: 32px;
    font-size: small;
}
.sign-box{
    margin-top: 70px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 280px;
    height: 50px;
    padding: 14px;
    padding-left:20px;
    border-radius: 40px;
    cursor: pointer;
}
.sign-box:hover{
    scale: 1.1;
}
.my-form-box{
    height: 470px;
    width: 400px;
    background-color:#ffffff;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 20px; 
    border: 2px solid grey; 
}
.my-form-box::before {
    content: "";
    background: linear-gradient(90deg, hotpink,#2f80edff);
    position: absolute;
    height: 470px;
    width: 400px;
    z-index: -1;
    filter: blur(10px)}
  

.form-headings{
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    font-style: italic;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}
.form-header-para{
    font-style: normal;
    color: #818d9d;
    font-weight: lighter;
}
.form-details{
    margin-left: 40px;
    margin-top:20px;
    font-size: 20px;
}
.naming-box{
    border: none;
    padding-top:10px;
    margin-top: 10px;
}
.apply-button{
    height: 55px;
    width: 350px;
    border-radius: 10px;
   margin-left: -15px;
   margin-top:30px;
   font-size: 25;
   word-spacing:2px;
   font-style: italic;
   color: white;
   background: rgb(33,32,32);
background: linear-gradient(90deg, rgba(33,32,32,1) 0%, rgba(12,113,210,1) 0%, rgba(232,94,227,1) 98%);
border: none;
}
.apply-button:hover{
    scale: 1.02;
}
.my-terms{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 40px;
    text-align: center;
    justify-content: center;
    width: 240px;
}
.hero-section-2{
    height: 700px;
    width: 100%;
    border: 2px solid black;
    background-color: #ecf8ff;
}
.section-box1{
    margin-left: 480px;
}
.section-2-header{
    font-style: italic;
    color: #6954ed;
    margin-top: 60px;
    font-size: 18px;
    word-spacing: 5px;
    
}
.our-courses{
    margin-left: 75px;
    color:#2f80ed
}
.main-table-div{
    border: 2px solid green;
    height:450px;
    width: 480px;
    margin-inline: 170px;
    background-color: #ffffff;
    margin-top: 70px;
}
.intro-para{
    color: white;
    background-color: #2f80ed;
    border-radius: 6px;
    height: 30px;
    text-align: center;
    width:300px;
    font-style: italic;
    margin: auto;
    margin-top: -15px;
    padding: 4px;
    font-size: 14px; 
}
.beginner{
    margin-left:170px;
    margin-top:20px;
}
.my-blue-box{
height: 10px;
width: 150px;
background-color: aqua;
}